<!DOCTYPE html>
<html>
  <head>
    <title>GoalApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  </head>

  <body>
    <div>
      <% if current_user %>
        <form action="<%= session_url %>" method="post">
          <input type="hidden" name="_method" value="delete" />
          <button>Logout</button>
        </form>
      <% else %>
        <p>Sign in</p>
      <% end %>
    </div>
    <%= yield %>
  </body>
</html>
